<section class="about">
    <div class="content-img">
        <%= image_tag 'about.png' %>
    </div>
    <div class="content-description">
        <h1>About me</h1>
        <div class="divisor"></div>
        <p>
            Web Developer, experience with Level Design, enthusiastic about new technologies and always seeking to evolve in the IT field.
        </p>
        <p>
            Currently, Computer Science course at PUC-MG and do internship as a developer at DITO CRM.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla sem, venenatis sed felis vitae, varius sollicitudin leo. Nulla eleifend venenatis justo sed scelerisque. Donec sed porttitor arcu. Cras cursus lectus quis nulla placerat fermentum. In eu fermentum magna. Maecenas quis consectetur tellus. In hac habitasse platea dictumst. Proin vel lacus elit.
        </p>
    </div>
</section>