<h1 class = "title">
    <%= @post.title %>
</h1>
<div class="divisor"></div>

<p class = "date">
    Submited <%= time_ago_in_words(@post.created_at) %> Ago
</p>

<p class="body">
    <%= @post.body %>
</p>