@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import "font-awesome";
$dark_blue: #303f66;
$pink: #f44950;
$purple: #3b25de;
$grey: #A8AAFB;
$light_grey: #f5f6fa;
$white: #FFF;
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#home {
    display: flex;
    align-items: stretch;
}

.sidebar {
    max-width: 200px;
    min-width: 160px;
    height: 100vh;
    background: $white;
    padding: 2rem 0;
    flex-grow: 1;
    z-index: 2;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    .logo {
        text-align: center;
        margin-bottom: 2rem;
        img {
            width: 80px;
            height: auto;
        }
    }
    ul {
        padding-inline-start: 0px;
        list-style-type: none;
        li {
            color: $grey;
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: .6rem 1.2rem;
            transition: .3s;
            &:hover {
                border-left: 4px solid $pink;
            }
            i {
                margin-right: 1rem;
                color: $pink;
            }
        }
    }
}

.content {
    flex-grow: 9;
    background: $light_grey;
}

nav {
    width: 100%;
    padding: .5rem 2rem;
    background: $dark_blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        font-family: 'Nunito', sans-serif;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 700;
    }
    ul {
        padding-inline-start: 0px;
        list-style-type: none;
        li {
            font-family: 'Nunito', sans-serif;
            font-size: 14px;
            color: $white;
            display: inline;
            margin-right: 1.5rem;
            &:last-child {
                margin-right: 0;
            }
            a,
            button {
                color: $white;
                text-decoration: none;
                background: $pink;
                padding: .5rem 1.5rem;
                border-radius: 20px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                font-weight: 700;
            }
            button {
                font-family: 'Nunito', sans-serif;
                font-size: 14px;
                border: none;
            }
        }
    }
}

.container {
    padding: 0 2rem;
}

@media (max-width: 578px) {
    .sidebar {
        max-width: 100px;
        ul {
            padding: 0 1.3rem;
            li {
                display: block;
                background: $white;
                text-align: center;
                border-radius: 20px;
                box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
                margin-bottom: 1rem;
                i {
                    font-size: 20px;
                    margin-right: 0;
                }
                span {
                    display: none;
                }
            }
        }
    }
}