@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("posts.scss");
@import url("comments.scss");
@import url("new.scss");
@import url("show.scss");
@import "font-awesome";
//Variáveis
$dark_blue: #303f66;
$pink: #f44950;
$purple: #3b25de;
$grey: #A8AAFB;
$light_grey: #f5f6fa;
$white: #FFF;
//Style
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#home {
    display: flex;
    align-items: stretch;
}

.sidebar {
    width: 200px;
    min-height: 100vh;
    background: $white;
    padding: 2rem 0;
    z-index: 2;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    .logo {
        text-align: center;
        margin-bottom: 2rem;
        img {
            width: 80px;
            height: auto;
        }
    }
    ul {
        padding-inline-start: 0px;
        list-style-type: none;
        li {
            padding: .6rem 1.2rem;
            margin-bottom: 1rem;
            transition: .3s;
            &:hover {
                border-left: 4px solid $pink;
            }
            i {
                margin-right: 1rem;
                color: $pink;
            }
            a{
                color: $grey;
                font-family: 'Raleway', sans-serif;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

.content {
    width: calc(100% - 200px);
    background: $light_grey;
}

nav {
    width: 100%;
    padding: 1rem 2rem;
    background: $dark_blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        font-family: 'Raleway', sans-serif;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 700;
    }
    ul {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        list-style-type: none;
        li {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            color: $white;
            display: inline;
            margin-right: 1.5rem;
            &:last-child {
                margin-right: 0;
            }
            a,
            button {
                color: $white;
                text-decoration: none;
                background: $pink;
                padding: .5rem 1.5rem;
                border-radius: 20px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                font-weight: 700;
            }
            button {
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                border: none;
            }
        }
    }
}

.container {
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

@media (max-width: 578px) {
    .sidebar {
        width: 80px;
        padding: 0;
        ul {
            padding: 0 .8rem;
            li {
                display: block;
                background: $white;
                text-align: center;
                border-radius: 20px;
                padding: 1rem 0;
                box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
                margin-bottom: 1rem;
                i {
                    color: $pink;
                    font-size: 20px;
                    margin-right: 0;
                }
                a {
                    display: none;
                }
            }
        }
    }
    .content {
        width: calc(100% - 80px);
    }
    .hide-mobile {
        display: none;
    }
}

@media(min-width: 578px) {
    .hide-desktop {
        display: none;
    }
}