//Variáveis
$dark_blue: #303f66;
$pink: #f44950;
$purple: #3b25de;
$grey: #A8AAFB;
$light_grey: #f5f6fa;
$white: #FFF;
#comments {
    margin-top: 5rem;
    h3 {
        color: $dark_blue;
        font-family: 'Raleway', sans-serif;
    }
}