$dark_blue: #303f66;
$pink: #f44950;
$alert: #f8d7da;
$purple: #3b25de;
$grey: #9596fa;
$light_grey: #f5f6fa;
$white: #FFF;

h1 {
    color: $dark_blue;
    font-family: 'Raleway', sans-serif;
    margin-block-start: 2em;
    margin-block-end: 0.2em;
}

.divisor {
    border-top: 4px solid $pink;
    width: 2rem;
}

form {
    width: 100%;
    margin-top: 3rem;

    .error {
        width: 100%;
        background: $alert;
        border-left: 4px solid $pink;
        padding: .5rem 1rem;

        h3 {
            color: $pink;
            font-family: 'Raleway', sans-serif;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        ul {
            padding-inline-start: 20px;
            margin-block-end: 0;
        }

        ul li {
            color: #777;
            line-height: 1.5;
        }
    }

    .form-group {
        margin: 1rem 0;

        label, em {
            color: #777;
            font-family: 'Raleway', sans-serif;
            font-size: 1.2rem;
        }

        em {
            font-size: 1rem;
        }

        input,
        textarea {
            width: 100%;
            display: block;
            padding: .8rem .5rem;
            border: 2px solid $purple;
            margin-top: .5rem;
            border-radius: .5rem;
            font-size: 1rem;
            font-family: 'Raleway', sans-serif;
            color: #777;

            &:focus {
                outline-offset: 0;
                outline: 0;
            }
        }

        textarea {
            height: 200px;
        }

        .btn-submit {
            width: 12rem;
            display: inline-block;
            color: $white;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            border: none;
            text-decoration: none;
            cursor: pointer;
            background: $pink;
            padding: .8rem 1.2rem;
            border-radius: 20px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            font-weight: 700;
        }

        a {
            color: $dark_blue;
            font-family: 'Raleway', sans-serif;
        }
        span{
            color: $grey;
            font-family: 'Raleway', sans-serif;
            margin-left: 2rem;
        }
    }

    .field {
        label{
            font-size: 1rem;
            font-family: 'Raleway', sans-serif;
            color: $grey;
        }
        a{
            color: $dark_blue;
            font-family: 'Raleway', sans-serif;
        }
    }
}

@media (max-width: 568px) {
    form {
        .form-group {
            .btn-submit {
                width: 100%;
            }
        }
    }
}
