// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #777;

section {
    .about {
        padding-top: 3rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .content-img{
            width: 75%;
            padding-right: 1rem;
            img{
                width: 100%;
                height: auto;
            }
        }
        .content-description{
            padding-left: 1rem;
            width: 100%;
            h1{
                margin-top: 0 !important;
            }
            p{
                color: $grey;
                font-family: 'Raleway', sans-serif;
                font-size: 1rem;
            }
        }
    }
}
