$dark_blue: #303f66;
$pink: #f44950;
$purple: #3b25de;
$grey: #9596fa;
$light_grey: #f5f6fa;
$white: #FFF;
p.date {
    color: $grey;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

p.body {
    color: #333;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5rem;
    border-bottom: 2px solid #e5e8f8;
}